## 6장

In [54]:
import pandas as pd
import numpy as np
import scipy.stats as stats

data = pd.read_csv('run10samp.txt', sep=' ')

In [55]:
# 문제 1
data.groupby(by='state')['time'].mean()

state
DC     96.321923
IN    141.940000
LA    117.020000
MD     90.436667
ME     96.390000
MI     97.970000
NC     68.460000
NJ     98.947500
NY     98.190000
PA     93.765000
VA     95.768974
Name: time, dtype: float64

In [56]:
data.groupby(by='state')['time'].var()

state
DC    269.610560
IN           NaN
LA           NaN
MD    327.792718
ME           NaN
MI           NaN
NC           NaN
NJ    525.323892
NY    245.156920
PA     88.578050
VA    144.835662
Name: time, dtype: float64

In [57]:
data.groupby(by='state').count() ## 값이 한 개인 데이터는 분산이 계산되지 않음

       time  age  gender
state
DC       26   26      26
IN        1    1       1
LA        1    1       1
MD       18   18      18
ME        1    1       1
MI        1    1       1
NC        1    1       1
NJ        4    4       4
NY        6    6       6
PA        2    2       2
VA       39   39      39

In [58]:
# 문제 2
# 2-1. 등분산성을 검정하는 함수 var_test를 작성하시오.
def var_test(x, y, alpha=0.05):
    F = np.var(x, ddof=1)/np.var(y, ddof=1)
    df1 = len(x)-1
    df2 = len(y)-1
    p_value = 2 * min(stats.f.cdf(F, df1, df2), 1-stats.f.cdf(F, df1, df2))
    return p_value > alpha

In [60]:
# 2-2. state 변수에서 VA는 버지니아 주를 의미한다. 출신지역이 버지니아인 사람들과 그 외 사람들 간의 완주시간에 차이가 있는가? 적절한 가설을 세워서 유의수준 5%에서 이를 검정하 여라.
from scipy.stats import ttest_ind

VA = data[data['state']=='VA']['time']
other = data[data['state']!='VA']['time']

print(var_test(VA, other))
print(ttest_ind(VA, other, equal_var=var_test(VA, other)))

False
Ttest_indResult(statistic=0.08462882232242173, pvalue=0.9327296795663862)

In [36]:
# 문제 3
# 3-1. a 와 b를 매개 변수로 받아 a와 b의 덧셈(add), 뺄셈(sub), 나눗셈(div), 곱셈(mul)을 반환값으로 주는 함수를 각각 작성하여라. 나눗셈의 경우 0으로 나누면 “0으로 나눌 수 없습 니다” 문장을 반환하여라.
def add(a, b):
    return a+b
def sub(a, b):
    return a-b
def div(a, b):
    if b == 0:
        return '0으로 나눌 수 없습니다.'
    else:
        return a/b
def mul(a, b):
    return a*b

In [37]:
# 3-2. 3 / 0
div(3, 0)

'0으로 나눌 수 없습니다.'

In [39]:
# 3-3. 다음 결과값을 구하여라. (2+3)/10*30
mul(div(add(2, 3), 10), 30)

15.0

## 7장

In [44]:
data = pd.DataFrame(index=['남학생','여학생'], columns=['수리통계학','영문학개론','미시경제학'], data=[[120,35,145],[30,210,60]])

In [52]:
# 문제 1
# 남학생과 여학생에 따른 과목의 선호도가 다르다고 할 수 있는지 유의수준 5%에서 검정하여 보자
from scipy.stats import chi2_contingency

res = chi2_contingency(data)
res.pvalue < 0.05

True

In [51]:
# 문제 2. 영문학개론을 선호하는 정도와 성별간에 독립성이 있는지 검정하세요
data2 = pd.DataFrame(index=['남학생','여학생'], columns=['선호','비선호'], data=[[35,265],[210,90]])

res = chi2_contingency(data2)
res.pvalue < 0.05

True